@Html.Partial("header.cshtml")

<h1>Address Book</h1>

<ul>
  @foreach(var contact in Model) {
    <li><a href="/contact/@contact.GetId()">@contact.GetName()</a></li>
  }
</ul>

<a href="/addContact">Add a new Contact</a>
<form action="/contacts_deleted" class="scaryButton" method="post">
  <input type="submit" name="submit" value="Clear Address Book">
</form>
